{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft": "Warning",
      "Microsoft.Hosting.Lifetime": "Information"
    }
  },
  "JWTSettings": {
    "Key": "Super Secret JWT Key",
    "Issuer": "campaignsaber.com"
  },
  "AllowedHosts": "*"
}
